main .cards-container.highlight {
    background-color: var(--section-bg);
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

@media screen and (width >= 48rem) {
  .cards > ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (width >= 72rem) {
    .cards > ul {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

.cards > ul > li {
    transition: background .2s ease-in-out, border .2s ease-in-out;
    background-color: var(--background-color);
}

.cards > ul > li:hover {
    background-color: var(--accent-color);
    color: var( --light-color);
}

.cards > ul > li:hover a {
    color: var( --light-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
