main>.full-image-banner-container>div {
    position: relative;
    max-width: none;
    width: 100%;
    padding: 0;
}

.full-image-banner {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10rem;
}

.full-image-banner-image {
    /* grid-column: 1 / -1;
    grid-row: 1 / -1; */
    height: 20rem;
    min-height: 20rem;
}

.foreground-content-box {
    /* grid-column: 1 / -1;
    grid-row: 1 / -1; */
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 7%);
}

.foreground-content-box__content {
    background: var(--background-color);
    padding: 5px 1rem;
    border-radius: 3px;
    border: 1px solid #dadada;
    border-top: 3px solid var(--accent-color);
}

.full-image-banner picture img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .full-image-banner-image {
        height: auto;
    }
    .foreground-content-box {
        width:  auto;
        position: absolute;
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .foreground-content-box__content {
        padding: 1rem 3rem;
    }
}

